*,
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

.container{
    height: 100vh;
}

.nav-bar{
    display: flex;
    align-items: center;
    background-color: #1E3A5F;
    padding: 10px 20px;
    justify-content: right;
}

.logo {
    height: 40px;
    margin-right: 20px;
    margin-right: 76%;
    border-radius: 50%;
}

.ul-class{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.li-class{
    display: inline;
}

.a-navbar{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.a-navbar:hover{
    color: rgb(0, 0, 0);
}


/* biografi */

.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f9;
}
.container {
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.info {
    text-align: center;
    margin-top: 10px;
}
.info h1 {
    margin: 10px 0;
    color: #333;
}
.info p {
    margin: 5px 0;
    color: #555;
}
.details {
    margin-top: 20px;

}
.details h2 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #f4f4f9;
    padding-bottom: 5px;
}
.details ul {
    list-style: none;
    padding: 0;
}
.details ul li {
    margin: 10px 0;
    color: #555;
}
.kaki{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: center;
}
.btn-sci{
    display: flex;

}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 40px;
    box-shadow:0 0 10px #007BFF;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.btn:hover{
    background: transparent;
    color: #007BFF;
    box-shadow: none;
    transition: .5s;
}

.btn-sci .sci{
    margin-left: 20px;
}
.btn-sci .sci a{
    display: inline-flex;   
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 50%;
    font-size: 18px;
    color: #007BFF;
    margin: 0 8px;
    transition: .5s;
    text-decoration: none;
}
.btn-sci .sci a:hover{
    background: #007BFF;
    color: #fff;
    box-shadow: 0 0 10px #007BFF;
}
